/storage/*.key
/public/storage
/public/hot
Homestead.json
Homestead.yaml

/.idea
.env

#storage
/storage/logs/*
/storage/debugbar/*

#public
/public/css
/public/js
/public/img
/public/images
/public/i18n
/public/ajax-load
/public/includes
/public/video
/public/fonts
/public/ckeditor
/public/vender
/public/myfont
/public/vendor
/public/filemanager
/public/formBuilder

/public/mix-manifest.json

#big folder
/Modules/Admin/Assets/vendor
/resources/assets
/vendor
/node_modules
/Temp/me_todo.md
