
/**
*  by basheer : Image overlay
*/

.overlay-zoom {
    position: relative;
    margin: 0px;
    padding: 0px;
}
.overlay-zoom .overlay-zoom-item {
    position: relative;
    overflow: hidden;
    z-index: 50;
}

.overlay-zoom .overlay-zoom-item .caption-text {

    background-color: rgba(0, 0, 0, 0.58);
    position: absolute;
    padding: 15px;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.overlay-zoom .overlay-zoom-item:hover .caption{
    opacity: 1;
}
.overlay-zoom .overlay-zoom-item:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}
.overlay-zoom img{
    margin: 0px;
    padding: 0px;
    float: left;
}

.overlay-zoom .overlay-zoom-item .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
}

.overlay-zoom .overlay-zoom-item .caption{
    cursor: pointer;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}

.overlay-zoom .overlay-zoom-item img{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}

/**
 * Custom Css
 */

.hand {
    cursor: pointer;
}

html[dir="ltr"] .easyimage-side{
    float: right;
}

html[dir="rtl"] .easyimage-side{
    float: left;
}